---
import Layout from "../../../../layouts/Layout.astro";
import NavbarManager from "../../../../components/NavbarManager.astro";
const id = Astro.params.id;
---

<Layout title="Modificar Producto">
  <NavbarManager />
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">Modificar Producto</h1>
  <p class="ml-2 mb-4 text-xl font-bold leading-none tracking-tight text-gray-900 md:text-xl lg:text-xl dark:text-white">Id: {id}</p>
  <form>
    <label for="name"class="mb-2 text-sm font-medium text-gray-900 dark:text-white ml-2">Nombre</label>
    <input type="text" id="name" name="name" required class=" ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
    <label for="description" class="mb-2 text-sm font-medium text-gray-900 dark:text-white ml-2">Descripción</label>
    <input type="text" id="description" name="description" required class=" ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
    <label for="price" class="mb-2 text-sm font-medium text-gray-900 dark:text-white ml-2">Precio</label>
    <input type="number" id="price" name="price" step="0.01" required class=" ml-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
    <br>
    <button class="relative inline-flex items-center mt-5 ml-7 justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        Actualizar
      </span>
      </button>
  </form>
</Layout>

<script define:vars={{ id }}>
  let name = document.getElementById("name");
  let description = document.getElementById("description");
  let price = document.getElementById("price");
  fetch(`http://localhost/api/products/${id}`)
    .then((response) => response.json())
    .then((data) => {
      name.value = data.name;
      description.value = data.description;
      price.value = data.price;
    });

  document.querySelector("form").addEventListener("submit", (event) => {
    // Prevent the form from submitting
    name = name.value;
    description = description.value;
    price = price.value;

    event.preventDefault();
    fetch(`http://localhost/api/products/${id}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ name, description, price }),
    }).then((response) => {
      if (response.ok) {
        alert("Producto actualizado");
        window.location.href = "../";
      } else {
        alert("Error al actualizar el producto");
      }
    });
  });
</script>
