---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Farmacia">
  <Navbar />
  <ul>
    <li><a href="./manager">Panel de control</a></li>
  </ul>
</Layout>

<style></style>
