---
import Layout from "../../../layouts/Layout.astro";
import NavbarManager from "../../../components/NavbarManager.astro";
---

<Layout title="Crear una nueva sucursal">
  <NavbarManager />
  <h1>Crear una nueva sucursal</h1>
  <form>
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name" required />
    <label for="address">Dirección</label>
    <input type="text" id="address" name="address" required />
    <button type="submit">Crear</button>
  </form>
</Layout>

<script>
  document.querySelector("form").addEventListener("submit", async (event) => {
    event.preventDefault();
    const name = document.querySelector("#name").value;
    const address = document.querySelector("#address").value;

    //const response = await fetch('/api/branches', {
    const response = await fetch("http://localhost/api/branches", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ name, address }),
    });
    response.json().then((data) => {
      if (response.ok) {
        alert("Sucursal creada correctamente");
      } else {
        alert("Se ha producido el siguiente error: " + data.message);
      }
    });
  });
</script>
