---
import Navbar from "./Navbar.astro";
---

<Navbar />
<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul
        class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm"
      >
        <li>
          <a
            href="/manager/"
            class="text-gray-900 dark:text-white hover:underline"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <a
            href="/manager/branches"
            class="text-gray-900 dark:text-white hover:underline">Branches</a
          >
        </li>
        <li>
          <a
            href="/manager/employees"
            class="text-gray-900 dark:text-white hover:underline">Employees</a
          >
        </li>
        <li>
          <a
            href="/manager/products"
            class="text-gray-900 dark:text-white hover:underline">Products</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
