---
import Layout from "../../layouts/Layout.astro";
import NavbarManager from "../../components/NavbarManager.astro";
---

<Layout title="Panel de control">
  <NavbarManager />
  <h1>Panel de control</h1>
  <p>¡Bienvenido al panel de control!</p>

  <ul>
    <li><a href="/manager/branches">Gestión de sucursales</a></li>
    <li><a href="/manager/products">Gestión de productos</a></li>
  </ul>
</Layout>
