---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Panel de control">
  <h1>Panel de control</h1>
  <p>¡Bienvenido al panel de control!</p>

  <ul>
    <li><a href="./branches">Gestión de sucursales</a></li>
    <li><a href="./products">Gestión de productos</a></li>
  </ul>
</Layout>
