---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
const { id } = Astro.params;
---

<Layout title="Product">
  <Navbar />
  <!-- 
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">Product</h1>
  <div>
    <h2 id="product-name">Product Name</h2>
    <p id="product-description">Product Description</p>
    <p id="product-price">Product Price</p>
    <img
      src=""
      id="product-image"
      alt="Product Image"
      width="200"
      height="200"
    />

    <p id="product-id">{{ id }}</p>
  </div>
-->
  <div class="flex justify-center items-center h-screen">
    <div class="flex justify-center items-center">
      <div
        class="w-full max-w-sm bg-gray-100 border border-blue-500 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <p id="product-id" class="pl-2 text-l font-semibold dark:text-white">
            {{ id }}
          </p>
          <img
            class="p-8 rounded-t-lg mx-auto"
            src=""
            alt="product image"
            width="300"
            height="300"
          />
        </a>
        <div class="px-5 pb-5">
          <h5
            class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white"
            id="product-name"
          >
            Product Name
          </h5>
          <div class="mt-2.5 mb-2.5">
            <p
              id="product-description"
              class="text-l font-semibold dark:text-white"
            >
              Product Description
            </p>
          </div>
          <div class="flex items-center space-x-1 rtl:space-x-reverse">
            <span class="text-l font-semibold dark:text-white">Price: </span>
            <span
              class="text-l font-semibold dark:text-white"
              id="product-price">Price</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script define:vars={{ id }}>
  fetch("http://localhost/api/products/" + id)
    .then((response) => response.json())
    .then((data) => {
      document.getElementById("product-name").innerText = data.name;
      document.getElementById("product-description").innerText =
        data.description;
      document.getElementById("product-price").innerText = data.price;
      document.getElementById("product-id").innerText = data.id;
      document.getElementById("product-image").src =
        "https://via.placeholder.com/150";
      document.getElementById("product-image").alt = data.name;
    });
</script>
